[Unit]
Description=XRecord Echo Service
Wants=graphical.target
#Requires=graphical.target
After=default.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/alx/.Xauthority
Type=simple
ExecStartPre=/etc/X11/xinit/xinit.d/50-systemd-user.sh
ExecStart=xrecord-echo
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
